a {
  text-decoration: none;
}

img {
  float: left;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 240px;
}

.menu {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.headingh1 {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.headingh2 {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.good-conteiner {
  width: 600px;
  height: 400px;
}
